$-colors: (
  'primary': (
    'base': #006aff,
  ),
  'danger': (
    'base': #f46144,
  ),
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: $-colors,
  $border-radius: (
    'base': 2px,
  ),
  $tag: (
    'border-radius': 2px,
  )
);
